// Fonts
$card__font-family: "FF DIN Round";
$card__font-weight: 400;

// Fields
$field__width-max: 700px;
$field__width-min: 400px;
$field__font-size: 11pt;
$field__sibling-margins: 5px;

// Fields Types
$field-bigger__font-size: 16pt;
$field-empty__height: 30px;
$field-paragraph__font-size: 10pt;
$field-tags__font-size: 10pt;
$field-footer__font-size: 10pt;
$field-list__font-size: 10pt;
